@model SushiRunner.ViewModels.OrderItemModel
<form method="post" asp-controller="Order" asp-action="OrderItemUpdate">
<div class="m-list-item">
    <input type="hidden" id="Meal" asp-for="Meal" name="Meal" value="@Model.Meal"/>
    <input type="hidden" asp-for="Id" name="Id" id="id" value="@Model.Id">
    <input type="hidden" name="redirectPath" value="@Context.Request.Path"/>
    <div class="m-quantity">
        <input style="width: 50px;" type="number" class="text-center " min="1"
               max="99"
               name="amount" id="amount" asp-for="Amount" value="@Model.Amount"/>
    </div>
    <span>@Model.Meal.Name</span>
    <button type="submit" class="btn btn-danger remove-button">
        <span>Зберегти</span>
    </button>
    <!--<button  type="submit" class="btn btn-danger remove-button">
        <span>Видалити</span>
    </button>-->
</div>
</form>