@using SushiRunner.Data.Entities
@model SushiRunner.ViewModels.Home.OrderModel


@* @{ *@
@*     Layout = "_ModeratorLayout"; *@
@* } *@

<div class="order-item">
    <div class="order-num">
        <span>@Model.Id</span>
    </div>
    <div class="order-customer-name">
        <span>@Model.CustomerName</span>
    </div>
    <div class="order-phone">
        <span>@Model.PhoneNumber</span>
    </div>
    <div class="order-address">
        <span>@Model.Address</span>
    </div>
    <div class="order-action">
        <button data-toggle="modal" data-target="#exampleModal-@Model.Id" class="btn btn-dark ok-button">Деталі</button>
        <form asp-controller="Order" asp-action="Delete">
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <button  class="btn btn-danger remove-button">Видалити</button>
        </form>
    </div>
</div>


<div class="modal fade" id="exampleModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 883px">
        <form class="form" method="post" asp-controller="Order" asp-action="Update">
        <input type="hidden" id="id" name="id" asp-for="Id" value="@Model.Id">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Деталі замовлення</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div class="form-group">
                        <label for="first_name">Ім'я</label>
                        <input class="form-control" placeholder="Name" name="customerName" id="Name"
                               type="text" asp-for="CustomerName" value="@Model.CustomerName">
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input class="form-control" type="text" placeholder="Phone" id="phone" name="phoneNumber"
                               asp-for="PhoneNumber" value="@Model.PhoneNumber">
                    </div>
                    <div class="form-group">
                        <label for="address">Адреса</label>
                        <input class="form-control" type="text" placeholder="Address" id="address" name="Address"
                               value="@Model.Address">
                    </div>
                    <div class="m-order-content">
                        <div class="m-order-items">
                        <input type="hidden" id="items" name="items" asp-for="Items" value="@Model.Items">
                            <span class="m-content">Склад замовлення:</span>
                            <ol class="m-rounded-list">
                                @foreach (var meal in Model.Items)
                                {

                                    <li>
                                        <partial name="_OrderItem" model="@meal"></partial>
                                    </li>

                                }
                            </ol>
                            <div class="form-group">
                                <label for="total-price">Total Price:</label>
                                <span id="total-price" name="Address"
                                      value="@Model.TotalPrice">@Model.TotalPrice</span>
                            </div>

                        </div>



                    </div>
                </div>
                
                <!--<input type="hidden" id="items" name="items" asp-for="Items" value="@Model.Items">
                
                <input type="hidden" id="address" name="address" asp-for="Address" value="@Model.Address">
                <input type="hidden" id="customerName" name="customerName" asp-for="CustomerName" value="@Model.CustomerName">
                <input type="hidden" id="phone" name="phoneNumber" asp-for="PhoneNumber" value="@Model.PhoneNumber">
                -->
                    <div class="modal-footer">
                        <div class="m-order-action">
                            @if (Model.OrderStatus == OrderStatus.Completed)
                            {
                            }
                            else
                            {
                                @if (Model.OrderStatus == OrderStatus.New)
                                 {
                                   
                                     <button href="http://google.com/" type="submit" name="OrderStatus" value="InProgress"
                                             class="btn btn-success ok-button">
                                         <span>Підтвердити</span>
                                     </button>
                                 }
                                @if (Model.OrderStatus == OrderStatus.InProgress)
                                 {
                                     <button href="http://google.com/" type="submit" name="OrderStatus" value="Completed"
                                             class="btn btn-success ok-button">
                                         <span>Доставити</span>
                                     </button>
                                 }
                                <button href="http://google.com/" type="submit" name="OrderStatus" value="Canceled"
                                        class="btn btn-success remove-button">
                                    <span>Відхилити</span>
                                </button>
                            }
                        </div>
                    </div>
                
            </div>
           </form>     
    </div>
</div>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
        });
    
        $(document).ready(function(){
            $('select').formSelect();
        });
        
        
    </script>
    