@model dynamic
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Moderator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/moderator/index.css">
</head>
<body>
<div class="container-fluid">
    <div class="content">
        <div>
            <h1 class="text-center">Select orders type:</h1>
        </div>
        <div id="actions">
            <form asp-controller="Moderator" asp-action="NewOrders" method="post">
                <a type="submit" id="new-order">New</a>
            </form>
            <form asp-action="InProgressOrders" asp-controller="Moderator" method="post">
                <a type="submit" id="in-progress">In progress</a>
            </form>
            <form asp-action="CompletedOrders" asp-controller="Moderator" method="post">
                <a type="submit" id="delivered">Delivered</a>
            </form>
        </div>
        <div class="order-heading">
            <div class="order-heading-type">
                <span>Order type</span>
            </div>
            <div class="order-heading-phone">
                <span>Phone</span>
            </div>
            <div class="order-heading-address">
                <span>Address</span>
            </div>
            <div class="order-heading-content">
                <span>Content</span>
            </div>
            <div class="order-heading-action">
            </div>
        </div>
    @foreach (var item in Model )
    {
        <div class="order-item" onclick="location.href = '#';">
            <div class="order-type">
                <span>@item.PaymentType</span>
            </div>
            <div class="order-phone">
                <span>@item.PhoneNumber</span>
            </div>
            <div class="order-address">
                <span>@item.Address</span>
            </div>
            <div class="order-content">
                @foreach (var meal in Model.Items)
                {
                    <span>@meal.Amount @meal.Meal</span>
                }
            </div>
            <div class="order-action">             
            </div>
        </div>
    }
    </div>
</div>
<script src="js/index.js"></script>
</body>
</html>