@{
    ViewData["Title"] = "Sushi-Runner Moderator";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sushi-Runner Moderator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="stylesheet" href="@Url.Content("/css/moderator/index.css")">
    @RenderSection("Styles", false)
</head>
<body class="grey lighten-3">
<header id="menu">
        <div class="home-image-container">
            <img src="/img/logo.jpg" alt="Logo - SushiRunner">
        </div>
        <nav class="navbar_items">
            <div class="navbar_link">
                <a href="/">Головна</a>
            </div>
            <div class="navbar_link">
                @Html.ActionLink("Замовлення","Index", "Moderator")
            </div>
            <div class="navbar_link">
                @Html.ActionLink("Продукти","Moderate", "Meal")
                @* <a href="">Продукти</a> *@
            </div>
        </nav>
        <div id="account">
            <div id="user">
                        <div id="user">
                            <a asp-controller="Account" asp-action="PersonalInfo">
                                <svg class="user-profile-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 550 520">
                                    <path d="M437.02 330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521 243.251 404 198.548 404 148 404 66.393 337.607 0 256 0S108 66.393 108 148c0 50.548 25.479 95.251 64.262 121.962-36.21 12.495-69.398 33.136-97.281 61.018C26.629 379.333 0 443.62 0 512h40c0-119.103 96.897-216 216-216s216 96.897 216 216h40c0-68.38-26.629-132.667-74.98-181.02zM256 256c-59.551 0-108-48.448-108-108S196.449 40 256 40s108 48.448 108 108-48.449 108-108 108z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
            <div id="basket"><p style="color:white;">Place for basket</p>
            </div>
            <div id="totalPrice">Place for total price
            </div>
        </div>
    </header>
@RenderBody()
<script src="js/index.js"></script>
<script type="text/javascript" src="lib/materialize/dist/js/materialize.js"></script>
@RenderSection("Scripts", false)
</body>
</html>