@model MealModel

<div class="item-card">
    <div class="item-img">
        <img src="@Model.ImagePath" alt="@Model.Name">
    </div>
    <div class="item-title">
        <h4>@Model.Name</h4>
    </div>
    <div class="item-description">
        <span>@Model.Description</span>
    </div>
    <div class="item-weight">
        <h5>
            <span>@Model.Weight гр.</span>
        </h5>
    </div>
    <div class="item-footer">
        <div class="item-price">
            <strong>@Model.Price грн.</strong>
        </div>
        <div class="add-to-card">
            <i class="fas fa-plus-circle"></i>
            <i class="fas fa-checkbox-circle"></i>
        </div>
    </div>
</div>
