@model SushiRunner.ViewModels.Home.CartModel

@section Styles
{
    <link rel="stylesheet" href="@Url.Content("/css/home/header-with-lines.css")">
    <link rel="stylesheet" href="@Url.Content("/css/home/order-form.css")">
}

@section Scripts
{
    <script src="@Url.Content("/js/home/order-form.js")"></script>
}

<div class="cart-page-container">
    <p class="hwl">
        <span>Оформити замовлення</span>
    </p>
    <div class="cart-container">
        <div class="cart-column-name-container">
            <div class="cart-table-head">
                <span class="description">Опис</span>
                <span class="price">Ціна</span>
                <span class="quantity">Кількість</span>
                <span class="sum">Сума</span>
                <span class="cart-remove-button" style="display: none"></span>
            </div>
            <div class="table-rows">
                @foreach (var cartItem in Model.Items)
                {
                    <partial name="_CartTableRow" model="@cartItem"></partial>
                }
            </div>
            @if (Model.Items.Any())
            {
                <div id="total-sum">
                    <span>
                        <strong>Загальна сума:</strong>
                        @Model.OrderModel.TotalPrice грн.
                    </span>
                    <button id="order-button-start">Оформити</button>
                </div>
                <div id="make-order-form-wrapper">
                    <partial name="_MakeOrderForm" model="@Model.OrderModel"></partial>
                </div>
            }
        </div>
    </div>
</div>
