@model SushiRunner.ViewModels.Home.HomeModel

@using PagedList; 
@using PagedList.Mvc;
@{
    ViewData["Title"] = "Sushi-Runner";
    Layout = "_HomeLayout";
}

@section Styles
{
    <link rel="stylesheet" href="@Url.Content("/css/home/header-with-lines.css")">
}

<div id="wrapper">
    @if (Model == null)
    {
        <p id="hwl-edit" class="hwl">
            <span>Всі продукти</span>
        </p>
    }
    else
    {
        <p id="hwl-edit" class="hwl">
            <span>@Model.Title</span>
        </p>
    }
    <div class="container-fluid">
        @foreach (var meal in Model.Meals)
        {
            <partial name="_Meal" model="@meal"></partial>
        }
    </div>
    
    
    <!-- Paginator -->
                
@*                         @if (Model.Meals.HasPreviousPage){ *@
@*      *@
@*                             <li class="page-item"><a class="page-link" href="?page=1"><<</a></li> *@
@*                             <li class="page-item"><a class="page-link" *@
@*                                                      href="?page={{ products.previous_page_number }}"><</a></li> *@
@*      *@
    @* 
                            } *@
    <div style="display: flex; justify-content: center;">
        Сторінка @(Model.Meals.PageCount < Model.Meals.PageNumber ? 0 : Model.Meals.PageNumber) з @Model.Meals.PageCount
    </div>
    <div style="display: flex; justify-content: center;">
        
        <ul class="pagination">
            @* <li class="active"><a href="#!">1</a></li> *@

            @for (int i = 1; i <= Model.Meals.PageCount; ++i)
            {
                <li class="waves-effect"> <a class="page-link" href="?page=@i"><strong>@i</strong></a></li>


            }

        </ul>
    </div>
                         

@*                              else if(i > products.number|add:'-3' and num < products.number|add:'3') *@
@*                              { *@
@*                                   *@
@*                              } *@
@*                              *@
@*                              { elif num > products.number|add:'-3' and num < products.number|add:'3' %} *@
@*                                 <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li> *@
@*                             {% endif %} *@
@*                         } *@
@*                         {% if products.has_next %} *@
@*                             <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">></a> *@
@*                             </li> *@
@*                             <li class="page-item"><a class="page-link" *@
@*                                                      href="?page={{ products.paginator.num_pages }}">>></a> *@
@*                             </li> *@
@*                         {% endif %} *@
    
                    </div>
  
