@model SushiRunner.ViewModels.Home.HomeModel

@{
    ViewData["Title"] = "Sushi-Runner";
    Layout = "_HomeLayout";
}

@section Styles
{
    <link rel="stylesheet" href="@Url.Content("/css/home/header-with-lines.css")">
}

<div id="home-side-nav">
    @foreach (var group in Model.Groups)
    {
        
        var name = "side-nav-item" + group.Id;
        
        <a href="/Home/MealGroups/@group.Id" id="@name">
                <div class="side-nav-icon">
                    <img style="width: inherit;" class="group-pic" src="@group.ImagePath" alt="group"/>
                </div>
                <span>@group.Name</span>
            </a>
    }
</div>

<div id="wrapper">
    @if (@Model.Title == null)
    {
        <p id="hwl-edit" class="hwl">
            <span>Всі продукти</span>
        </p>
    }
    else
    {
        <p id="hwl-edit" class="hwl">
            <span>@Model.Title</span>
        </p>
    }
    <div class="container-fluid">
        @foreach (var meal in Model.Meals)
        {
            <partial name="_Meal" model="@meal"></partial>
        }
    </div>
</div>
