@model SushiRunner.ViewModels.Home.HomeModel

@using PagedList; 
@using PagedList.Mvc;
@{
    ViewData["Title"] = "Sushi-Runner";
    Layout = "_HomeLayout";
}

@section Styles
{
    <link rel="stylesheet" href="@Url.Content("/css/home/header-with-lines.css")">
}

<div id="wrapper">
    @if (Model == null)
    {
        <p id="hwl-edit" class="hwl">
            <span>Всі продукти</span>
        </p>
    }
    else
    {
        <p id="hwl-edit" class="hwl">
            <span>@Model.Title</span>
        </p>
    }
    <div class="container-fluid">
        @foreach (var meal in Model.Meals)
        {
            <partial name="_Meal" model="@meal"></partial>
        }
    </div>
    <br />
    Сторінка @(Model.Meals.PageCount < Model.Meals.PageNumber ? 0 : Model.Meals.PageNumber) з @Model.Meals.PageCount
     
    
</div>
