@using SushiRunner.Data.Entities
@using SushiRunner.ViewModels.Home
@model SushiRunner.ViewModels.Home.MealDescriptionModel

@{
    ViewData["Title"] = "Sushi Runner";
    Layout = "_HomeLayout";
}

<div>
    <a asp-action="Index"> Back</a>
</div>

<div class="item-page">
    <div class="item-img">
        <img src="@Model.ImagePath" alt="@Model.Name">
    </div>
    <div class="item-title">
        <h4>@Model.Name</h4>
    </div>

    <div class="item-description">
        <span>@Model.Description</span>
    </div>
    <div class="item-weight">
        <h5>
            <span>@Model.Weight грам</span>
        </h5>
    </div>
    
    <div class="item-price">
        <strong>@Model.Price грн.</strong>

        
        <form id="@Model.Id" asp-action="AddToCart" asp-controller="Home" method="post">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" name="redirectPath" value="@Context.Request.Path"/>
            <span class="card-text p-1">
                <button type="submit" class="add-to-cart-button">
                    <div class="add-to-cart-icon">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </button>
            </span>
        </form>
        
        <form id="@Model.Id" asp-action="RemoveFromCart" asp-controller="Home" method="post">
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" name="redirectPath" value="@Context.Request.Path"/>
            <span class="card-text p-1">
                <button type="submit" class="add-to-cart-button">
                    <div class="add-to-cart-icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                </button>
            </span>
        </form>
        
       

    </div>
    <hr>
    <div>
        <span><strong>Comments</strong></span>
        <br><br>
        <form method="post" asp-action="AddComment" asp-controller="Home">
            <input type="hidden" name="mealId" asp-for="Id"/>
            <textarea name="message" style="width:300px; height: 100px;"></textarea>
            <input type="number" name="rating" min="0" max="10"/>
            <input type="hidden" name="redirectPath" value="@Context.Request.Path"/>
            <button type="submit">Submit</button>
        </form>
        <br><br>
        @foreach(var comment in @Model.Comments.Reverse())
        {
            <div>
                <p>
                    <span>@comment.CreationDate</span>
                </p>
                <p>
                    <span>@comment.Message</span>
                </p>
                <p>
                    <span>@comment.Rating / 10</span>
                </p>

            </div>
            <hr>
        }
        
     </div>
</div>
